
.a{
	background: #85c2c7;
	padding: 25px;
	font-size: 30px;
	text-align: center;
	color:white;
	border-radius: 17px;
	height: 80px;
}
.mainsection{
	background-color: white;
	width:500px;
	height:95vh;
	border-radius: 17px;
	margin:auto;
	margin-bottom: 20px;
}
.mainclass{
	background-color: #D2CECE;
	font-family: 'Josefin Sans', sans-serif;
}
.inputtype{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	color: darkgreen;
}
.b{
	padding: 17px;
	border-radius:35px;
	width:92%;
	background: #D2CECE;
	margin-bottom: 18px;
	border:0;
}
.inputsection{
	text-align: right;
	margin-bottom: 20px;
}
.signinbutton{	
	padding: 10px;
	border-radius:35px;
	text-align: center;
	background-color: #85c2c7;

}
.input{
	margin:auto;
	width:80%;
	text-align: center;

}
.u{
	color:#85c2c7;
}
.l{
	text-align: center;
}
.m{
	text-align: center;
	color: #85c2c7;

}